In [1]:
import os
from database_connect.databases.mongodb import MongoIO as mongo

In [2]:
client_url= "mongodb+srv://riyadey:12345@clusteraqi.e6umyfh.mongodb.net/?retryWrites=true&w=majority&appName=ClusterAQI"
database_name = "aqi"

In [3]:
from pymongo import MongoClient

client_url = "mongodb+srv://riyadey:12345@clusteraqi.e6umyfh.mongodb.net/?retryWrites=true&w=majority&appName=ClusterAQI"
try:
    client = MongoClient(client_url)
    client.admin.command('ping')
    print("Connected to MongoDB successfully!")
except Exception as e:
    print(f"Failed to connect to MongoDB: {e}")

Connected to MongoDB successfully!

In [5]:
def upload_files_to_mongodb(
    mongo_client_con_string,
    database_name,
    datasets_dir_name):
  
  for file in os.listdir(datasets_dir_name):
    if file.endswith('.csv'):
      file_name = file.split('.')[0]

      mongo_connection = mongo(
          client_url = mongo_client_con_string,
          database_name= database_name,
          collection_name= file_name
      )

      file_path = os.path.join(datasets_dir_name, file)
      print(file_path)
      mongo_connection.bulk_insert(file_path)
      print(f"{file_name} is uploaded to mongodb")

In [6]:
upload_files_to_mongodb(
    mongo_client_con_string= client_url,
    database_name = database_name,
    datasets_dir_name= r"F:/MANTA/Files/mlproject/Air_Quality_Index_Prediction/notebook/data/upload_db")

F:/MANTA/Files/mlproject/Air_Quality_Index_Prediction/notebook/data/upload_db\city_day.csv
city_day is uploaded to mongodb

In [7]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient("mongodb+srv://riyadey:12345@clusteraqi.e6umyfh.mongodb.net/?retryWrites=true&w=majority&appName=ClusterAQI", serverSelectionTimeoutMS=5000)
mydb = client['aqi']
collection = mydb['city_day']
cursor = collection.find({})
data = list(cursor)
cursor.close()
df = pd.DataFrame(data)
df.head()

,_id,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,66a0691e014aeb5eca6d23da,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,None
1,66a0691e014aeb5eca6d23db,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,None
2,66a0691e014aeb5eca6d23dc,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,None
3,66a0691e014aeb5eca6d23dd,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,None
4,66a0691e014aeb5eca6d23de,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,None